body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gallery-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-display img {
    width: 100%; /* Make the image width 100% of the container */
    height: 100%; /* Make the image height 100% of the container */
    object-fit: cover; /* Ensure the image covers the area, maintaining aspect ratio */
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
